<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="admin/_fragments :: head(~{::title})">
		<meta charset="utf-8" />
		<title>分类新增</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/me.css"/>
	</head>
	<body>
		<nav th:replace="admin/_fragments :: menu(2)" class="ui inverted  attached segment m-padded-tb-mini m-shadow-small"  >
		</nav>
		<!--二级导航-->
		<div class="ui attached pointing menu">
			<div class="ui container">
				<div class="right menu">
					<a href="#" class="active teal item">发布</a>
					<a href="#" class=" item">列表</a>
				</div>
				</div>
			
		</div>
		<div class=" m-padded-tb-big m-container-small">
				<div class="ui stackable container">
					<!--头部-->
					<form th:action="@{/admin/tototypes}" method="post" class="ui form">
						<div class="field">
							<div class="ui left labeled input">
								<label for="" class="ui teal basic label">名称</label>
								<input type="hidden" name="id"  th:value="${id}" />
								<input type="text" name="name" placeholder="标签名称" id="" value="" />
							</div>
							
						</div>

						<div class="ui error message"></div>
						<div class="ui right aligned container">
							<button class="ui button" type="button" onclick="window.history.go(-1)">返回</button>
							<button class="ui teal  submit button">提交</button>
						</div>
					</form>
				</div>	
				</div>
		<br />
		<br />
		<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">

		</footer>
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
		<script src="../../static/lib/editormd/editormd.amd.min.js"></script>
		<script>
			/*markdown初始化*/
			var contentEditor;
            $(function() {
                contentEditor = editormd("md-content", {
                    width   : "100%",
                    height  : 640,
                    syncScrolling : "single",
                    path    : "../static/lib/editormd/lib/"
                });
             });
			$('.menu.toggle').click(function(){
				$('.m-item').toggleClass('m-mobile-hide');
			});
			$('.ui.dropdown').dropdown({
				on: 'hover'
			});
			$('.ui.form').form({
				fields : {
					title : {
						identifier: 'title',
						rules: [{
							type : 'empty',
							prompt : '标题，请输入博客标题'
						}]
					}
				}
			});
			$('#newBlog-container').load(/*[[@{/footer/newblog2}]]*/"/footer/newblog2")
		</script>
	</body>
</html>
